body {
    background-color: bisque;
    padding: 30px;
}

h1 {
    background-color: beige;
}

li {
    padding: 5px;
    margin-left: 15px;
}

div {
    border-top: 3px solid rgb(73, 73, 1);    
}

footer {
    margin-top: 5px;
}

img {
    transition: box-shadow .3s;
    border-radius:10px;
    background: #fff;
}

img:hover {
    box-shadow: 0 5px 15px black; 
}